{% extends 'MsiPaintBundle::layout.html.twig' %}

{% block content %}
{% for gallery in galleries %}
    {% if loop.index == 1 or loop.index % 3 == 1 %}
        <div class="row-fluid">
    {% endif %}
    <div class="span4">
        <div class="thumbnail" style="margin-bottom:20px;">
            <a href="{{ path('msi_paint_artwork_index', {'slug': gallery.translation.slug}) }}"><img src="http://placehold.it/300x200" alt=""></a>
            <div class="caption" style="padding-bottom:5px;">
                <strong>{{ gallery.translation.name }} <span class="muted">(3)</span></strong>
            </div>
        </div>
    </div>
    {% if loop.index == galleries|length or loop.index % 3 == 0 %}
        </div>
    {% endif %}
{% endfor %}
{% endblock content %}
