html {
    overflow-y: scroll;
}

body {
    background: #fff;
    color: #000;
}

a {
    color: #000;
}

a:hover {
    text-decoration: none;
    color: #000;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

h2 {
    text-align: center;
}

.menu {
    margin: 0;
}

.menu > li > a {
    display: block;
    padding: 0 0 10px;
    font-size: 17.5px;
}

.menu > li:first-child > a {
    padding: 10px 0;
}

.menu > li.active > a {
    color: #000;
}

#sidebar {
    font-size: 17.5px;
    width: 180px;
}
